
<h2>{{.Messages.UserListTitle}} ({{.Total}})</h2>

<article>
    <form action="{{.CurrentUrl}}" method="GET">
        <label>
            {{.Messages.FilterLabel}}
            <input type="text" name="filter"/>
        </label>
        <div class="hide">
            <input type="text" name="pageNumber" value="1"/>
        </div>
        <button type="submit"><span class="material-symbols-outlined">search</span></button>
    </form>
</article>

<div class="grid">
    {{if .PreviousPageNumber}}
        <form action="{{.CurrentUrl}}" method="GET">
            <div class="hide">
                <input type="text" name="pageNumber" value="{{.PreviousPageNumber}}"/>
                {{if .Filter}}
                    <input type="text" name="filter" value="{{.Filter}}"/>
                {{end}}
            </div>
            <button type="submit"><span class="material-symbols-outlined">chevron_left</span></button>
        </form>
    {{end}}

    {{if .NextPageNumber}}
        <form action="{{.CurrentUrl}}" method="GET">
            <div class="hide">
                <input type="text" name="pageNumber" value="{{.NextPageNumber}}"/>
                {{if .Filter}}
                    <input type="text" name="filter" value="{{.Filter}}"/>
                {{end}}
            </div>
            <button type="submit"><span class="material-symbols-outlined">chevron_right</span></button>
        </form>
    {{end}}
</div>

{{$viewLinkLabel := .Messages.ViewLinkLabel}}
{{range .Users}}
    <div class="grid">
        {{template "profileLink" .}}
        <a href="/admin/user/view/{{.Id}}" role="button">{{$viewLinkLabel}}</a>
    </div>
{{end}}
