
<h2>{{.Messages.RoleListTitle}}</h2>

{{$editLinkLabel := .Messages.EditLinkLabel}}
{{$deleteLinkLabel := .Messages.DeleteLinkLabel}}
{{$newLinkLabel := .Messages.NewLinkLabel}}
{{range .Groups}}
    <details>
        <summary>{{.DisplayName}}</summary>
        {{$groupName := .Name}}
        {{range .Roles}}
            <div class="grid">
                <p>
                    {{.Name}}
                    {{range .Actions}}
                        {{.}}
                    {{end}}
                </p>
                <a href="/admin/role/edit/{{.Name}}/{{$groupName}}" role="button">{{$editLinkLabel}}</a>
                <!-- delete role link (use an empty action form) -->
                <form action="/admin/role/save" method="POST">
                    <div class="hide">
                        <input type="text" name="RoleName" value="{{.Name}}"/>
                        <input type="text" name="Group" value="{{$groupName}}"/>
                    </div>
                    <button type="submit">{{$deleteLinkLabel}}</button>
                </form>
            </div>
        {{end}}
        <a href="/admin/role/edit/new/{{$groupName}}" role="button">{{$newLinkLabel}}</a>
    </details>
{{end}}
