
<h2>
    {{.Messages.EditLabel}} {{.ViewedUser.Login}}
    <a href="/profile/view/{{.ViewedUser.Id}}" role="button">{{.Messages.CancelLinkLabel}}</a>
</h2>

<p>{{template "profilePicture" .ViewedUser}}</p>

<div class="hide">
    {{/* to allow JavaScript or WebAssembly to display a localized error message */}}
    <span id="errorEmptyLoginMessage">{{.Messages.EmptyLogin}}</span>
    <span id="errorEmptyPasswordMessage">{{.Messages.EmptyPassword}}</span>
    <span id="errorWrongConfimPasswordMessage">{{.Messages.WrongConfirmPassword}}</span>
</div>

<form id="changeLoginForm" action="/profile/changeLogin" method="POST">
    <h3>{{.Messages.ChangeLoginLabel}}</h3>
    <label>
        {{.Messages.NewLoginLabel}}
        <input type="text" id="loginField" name="Login"/>
    </label>
    <label>
        {{.Messages.PasswordLabel}}
        <input type="password" id="passwordField" name="Password"/>
    </label>
    <button type="button" id="changeLoginButton">{{.Messages.SaveLinkLabel}}</button>
</form>

<form id="changePasswordForm" action="/profile/changePassword" method="POST">
    <h3>{{.Messages.ChangePasswordLabel}}</h3>
    <label>
        {{.Messages.OldPasswordLabel}}
        <input type="password" name="oldPassword"/>
    </label>
    <label>
        {{.Messages.NewPasswordLabel}}
        <input type="password" id="changePasswordField" name="newPassword"/>
    </label>
    <label>
        {{.Messages.ConfirmPasswordLabel}}
        <input type="password" id="confirmChangePasswordField" name="ConfirmPassword"/>
    </label>
    <div><button type="button" id="changePasswordButton">{{.Messages.SaveLinkLabel}}</button></div>
</form>

<form action="/profile/save" method="POST" enctype="multipart/form-data">
    <h3>{{.Messages.EditProfileLabel}}</h3>
    <label>
        {{.Messages.UserPicLabel}}
        <input type="file" name="picture" accept="image/png, image/jpeg"/>
    </label>
    <label>
        {{.Messages.UserDescLabel}}
        <input type="text" name="userDesc" value="{{.ViewedUser.Desc}}"/>
    </label>
    <ul>
        {{$messages := .Messages}}
        {{range $key, $value := .ViewedUser.Info}}
            <li>
                <label>
                    {{index $messages $key}}
                    <input type="text" name="userInfo[{{$key}}]" value="{{$value}}"/>
                </label>
            </li>
        {{end}}
    </ul>
    <button type="submit">{{.Messages.SaveLinkLabel}}</button>
</form>
