{{define "profileLink"}}
    <a href="/profile/view/{{.Id}}">{{.Login}}</a>
{{end}}
{{define "profilePicture"}}
    <img src="/profile/picture/{{.Id}}" alt="{{.Login}}" width=100/>
{{end}}
{{define "profilePictureLink"}}
    <a href="/profile/view/{{.Id}}">
        {{template "profilePicture" .}}
    </a>
{{end}}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>PuzzleTest - {{.PageTitle}}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css"/>
        <script type="text/javascript" src="/static/js/wasm_exec.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
        <script type="text/javascript" src="/static/js/wiki_link.js"></script>
        
    </head>
    <body>
        <header>
            <h1>{{.PageTitle}}</h1>
            {{if .LoginUrl}}
                <ul class="user-tools">
                    {{if .Login}}
                        <li>{{.Messages.WelcomeLabel}} {{template "profileLink" .}}</li>
                        <li><a href="/settings">{{.Messages.PageTitleSettings}}</a></li>
                        {{if .ViewAdmin}}
                            <li><a href="/admin">{{.Messages.PageTitleAdmin}}</a></li>
                        {{end}}
                        <li><a href="{{.LoginUrl}}">{{.Messages.LogoutLinkLabel}}</a></li>
                    {{else}}
                        <li><a href="{{.LoginUrl}}">{{.Messages.LoginLinkLabel}}</a></li>
                    {{end}}
                </ul>
            {{end}}
            {{with .ErrorMsg}}
                <div class="error">{{.}}</div>
            {{end}}
            <p class="ariane">
                <a href="/">PuzzleTest</a>
                {{range .Ariane}}
                    / <a href="{{.Url}}">{{.Name}}</a>
                {{end}}
            </p>
            <ul class="sub-pages">
                {{range .SubPages}}
                    <li><a href="{{.Url}}">{{.Name}}</a></li>
                {{end}}
            </ul>
        </header>
        <main>
            <form id="loginForm" action="/login/submit" method="POST">
<div>
<label>
{{.Messages.LoginLabel}}
<input type="text" id="loginField" name="Login"/>
</label>
</div>
<div>
<label>
{{.Messages.PasswordLabel}}
<input type="password" id="passwordField" name="Password"/>
</label>
</div>
<div id="confirmPasswordBlock" class="hidden">
<label>
{{.Messages.ConfirmPasswordLabel}}
<input type="password" id="confirmPasswordField" name="ConfirmPassword"/>
</label>
</div>
<div class="hidden">
<input type="text" id="loginRegisterField" name="Register"/>
<input type="text" name="Redirect" value="{{.Redirect}}"/>
<input type="text" name="PrevUrlWithError" value="{{.PrevUrlWithError}}"/>
{{/* to allow JavaScript or WebAssembly to display a localized error message */}}
<span id="errorEmptyLoginMessage">{{.Messages.EmptyLogin}}</span>
<span id="errorEmptyPasswordMessage">{{.Messages.EmptyPassword}}</span>
<span id="errorWrongConfimPasswordMessage">{{.Messages.WrongConfirmPassword}}</span>
</div>
<div><button type="button" id="loginSubmitButton">{{.Messages.LoginLinkLabel}}</button></div>
<div>
<button type="button" id="loginRegisterButton">{{.Messages.RegisterLinkLabel}}</button>
<button type="button" id="loginRegisterButton2" class="hidden">{{.Messages.RegisterLinkLabel}}</button>
</div>
</form>

        </main>
        <footer>
        </footer>
    </body>
</html>
