{{define "profileLink"}}
    <a href="/profile/view/{{.Id}}">{{.Login}}</a>
{{end}}

{{define "profilePicture"}}
    <img src="/profile/picture/{{.Id}}" alt="{{.Login}}" width=100/>
{{end}}

{{define "profilePictureLink"}}
    <div>
        <p><a href="/profile/view/{{.Id}}">{{template "profilePicture" .}}</a></p>
        <p>{{template "profileLink" .}}</p>
    </div>
{{end}}

{{define "search"}}
    <form action="{{.CurrentUrl}}" method="GET" role="search">
        <label>
            {{.Messages.FilterLabel}}
            <input type="search" name="filter"/>
        </label>
        <div class="hide">
            <input type="text" name="pageNumber" value="1"/>
        </div>
        <button type="submit"><span class="material-symbols-outlined">search</span></button>
    </form>
{{end}}

{{define "paginate"}}
    {{if or .PreviousPageNumber .NextPageNumber}}
        <div class="grid">
            {{if .PreviousPageNumber}}
                <form action="{{.CurrentUrl}}" method="GET">
                    <div class="hide">
                        <input type="text" name="pageNumber" value="{{.PreviousPageNumber}}"/>
                        {{if .Filter}}
                            <input type="text" name="filter" value="{{.Filter}}"/>
                        {{end}}
                    </div>
                    <button type="submit"><span class="material-symbols-outlined">chevron_left</span></button>
                </form>
            {{else}}
                <p><button type="button" disabled><span class="material-symbols-outlined">chevron_left</span></button></p>
            {{end}}

            {{if .NextPageNumber}}
                <form action="{{.CurrentUrl}}" method="GET">
                    <div class="hide">
                        <input type="text" name="pageNumber" value="{{.NextPageNumber}}"/>
                        {{if .Filter}}
                            <input type="text" name="filter" value="{{.Filter}}"/>
                        {{end}}
                    </div>
                    <button type="submit"><span class="material-symbols-outlined">chevron_right</span></button>
                </form>
            {{else}}
                <p><button type="button" disabled><span class="material-symbols-outlined">chevron_right</span></button></p>
            {{end}}
        </div>
    {{end}}
{{end}}
